/* style.css */

/* Resetting default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Styling the registration form */
.contents-wrap {
    margin: 20px auto;
    width: 60%;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 10px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.join-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-btn:hover {
    background-color: #0056b3;
}
